@model PersonalFinanceManager.Models.Transactions

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subcategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subcategory.SubcategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransactionsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
